* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 5rem;
}
.fourBars {
    display: flex;
    flex-direction: row;
    gap: 13.5rem;
}

.oneEle {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}

.bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}